@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
  
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

